div {
	width: 100%
}

fieldset {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3em;
	margin: 0.5em;
	padding: 0.5em;
}

legend {
	font-size: 110%;
	margin-left: -0.5em;
	padding: 0 0.5em;
	text-align: left;
}

body {
	max-width: 1500px;
	margin: auto;
	padding: 0.2em;
	color: #444;
	position: relative;
	height: 100%;
}

.TODO {
	box-shadow: 0 0 1ex red, 0 0 1ex red inset;
//	visibility: hidden;
}

.flex  {
	margin-left: initial;
	width: initial;
}

.flex > * {
	padding: 0;
}

[disabled], .disabled {
//	box-shadow: 0 0 0 9999px rgba(200, 200, 200, 0.5) inset;
	background: #ccc !important;
	color: #888;
}

.checkable {
	margin: 0 !important;
}

input {
	margin: 0.2em;
}

input[type="number"] {
	width: 5.5em;
	text-align: right;
}

input[type="file"] {
	display: none;
}

.card .dangerous, .modal .overlay ~ * .dangerous {
	float: inherit;
}

.modal .overlay {
	z-index: 1000000;
}

form > * {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
form table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 0.6em;
}
form tr {
	background: none !important;
}
form td {
	width: auto;
	padding: 0.3em 0em;
}
form td.parameter {
	width: auto;
	padding: 0.5em 1em;
}
form .parameter:after {
	content: ":";
	padding-right: 0.5em;
}

hr {
	width: 80%
}

.footer {
	position: absolute;
	bottom: 0;
}

@media print {
	button, .state .label {
		color: black;
		border-color: gray !important;
		border: medium solid;
	}

	[disabled], .label.disabled {
		color: lightgray;
		border: thin solid;
	}
}

.message {
	background: #e0e0e0;
	padding: .3em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #505050;
	border-radius: .2em;
	box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.75) inset, .3em .3em .2em rgba(100, 100, 100, 0.4);
}

.message.prime {
  background: #0074d9;
  color: #1054a9;
}
.message.success {
  background: #2ecc40;
  color: #108c20;
}
.message.warning {
  background: #ff851b;
  color: #cf651b;
}
.message.error {
  background: #ff4136;
  color: #af1116;
}
.message > header {
	font-style: bold;
	padding: .1em .5em;
	border: 0;
}
.message > header > .close {
	top: 0;
	right: 0;
}
.message section {
	font-size: 80%;
	padding: .1em .8em;
}

.message-stack {
	position: fixed;
	top: 0;
	border-radius: 0.3em;
	padding: 0.1em 0.6em;
	z-index: 99;
}
@media all and (max-width: 700px) {
	.message-stack {
		position: static;
	}
}
@media print {
	.message-stack {
		position: static;
	}
}

.timeout {
	display: inline-block;
	vertical-align: 0.3em;
	width: 5em;
	height: 0.25em;
	background: rgba(100, 100, 100, 0.1);
	animation: slideLeft linear both;
}

@keyframes slideLeft {
	0% {width: 5em; content: "\025CB";}
	100% {width: 0; content: "\025CF";}
}

.fadeIn {
	animation: fadeIn 1s;
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.fadeOut {
	opacity: 0;
	transition: opacity 0.4s;
}

.slideUp {
	overflow: hidden;
	animation: slideUp 0.3s linear both;
}
@keyframes slideUp {
	0% {max-height: 80vh;}
	100% {max-height: 0; margin-top: 0; margin-bottom: 0;}
}

.slideDown {
	overflow: hidden;
	animation: slideDown 0.3s linear both;
}
@keyframes slideDown {
	0% {max-height: 0; margin-top: 0; margin-bottom: 0;}
	99% {max-height: 80vh;}
	100% {max-height: initial;}
}

.foldable {
}

@media screen {
	.foldable > * {
		overflow: hidden;
		animation: slideDown 0.4s ease-in both;
	}
	.foldable > .header label::before {
		content: "\025BC \00A0";
		font-size: 80%;
	}
	.foldable  > input:not(:checked) ~ .header label::before {
		content: "\025BA \00A0";
	}
	.foldable  > input:not(:checked) ~ .header label::after {
		content: "\00A0[...]";
	}
	.foldable  > input:not(:checked) ~ :not(.header) {
		overflow: hidden;
		animation: slideUp 0.4s ease-out both;
	}
}

.progress-bar {
	background-color: rgba(200, 190, 200, 0.2);
	border-radius: 0.5em;
	box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.25) inset;
	display: block;
	padding: 0;
	height: 1.8em;
}

.progress-bar > div {
	background-color: #0074d9;
	border-radius: inherit;
	box-shadow: .05em .1em .5em rgba(255, 255, 255, 0.75) inset, -.05em -.1em .5em .1em rgba(0, 0, 0, 0.75) inset;
	text-align: center;
	text-shadow: .1em .1em .1em black;
	color: white;
	height: 100%;
	padding-top: 0.1em;
}

.left {
	left: 0;
	text-align: left;
	align-self: left;
}

.right {
	right: 0;
	text-align: right;
	align-self: right;
}

button, .button {
	padding: 0.6em 1em;
	min-width: 2.5em;
	transition: none;
	box-shadow: .1em .1em .2em rgba(255, 255, 255, 0.5) inset, -.1em -.1em .2em rgba(0, 0, 0, 0.5) inset;
}

button.flat, .button.flat {
	box-shadow: none;
	border: .1em rgba(100, 100, 100, 0.2) solid;
}

button.pseudo, .button.pseudo {
	box-shadow: none;
}

button.gray, .button.gray {
	background: rgba(100, 100, 100, 0.1);
	color: inherit;
}

button:focus {
	box-shadow: .1em .1em .2em rgba(255, 255, 255, 0.5) inset, -.1em -.1em .2em rgba(0, 0, 0, 0.5) inset;
}


button.active, .button.active, button:active, .button:active {
	box-shadow: -.1em -.1em .1em rgba(255, 255, 255, 0.5) inset, .1em .1em .3em rgba(0, 0, 0, 0.5) inset, inset 0 0 0 99em rgba(20,20,20,0.1);
}

.modal>input:checked ~ .overlay ~ * {
	max-height: 95%;
}

:checked+.group {
	box-shadow: -.1em -.1em .1em rgba(255, 255, 255, 0.5) inset, .1em .1em .3em rgba(0, 0, 0, 0.5) inset;
	background: #2ecc40;
}

.powerButton {
	background: #85144b;
}

.header > div {
	display: inline-block;
	width: auto
}
.header .logo {
//	height: 5em;
	margin: 0 1em;
}

.header .title h1 {
	display: inline-block;
	margin: -0.3em 0 0 0;
	padding: 0;
	color: darkred;
	text-align: center;
	text-shadow: 2px 2px 3px darkgray;
	vertical-align: top;
	font-size: 30px;
}

.statusLine {
	right: 0;
	position: absolute;
}

.statusLine > * {
	margin: 0 0.4em;
	font-size: 110%;
	color: #AAA;
}

.statusLine .ok {
	color: black;
}

.statusLine .ok.dangerous{
	color: darkred;
}

.statusLine .warn {
	color: darkorange;
}

.statusLine .error {
	color: #D00 !important;
}

.statusLine .error:before {
	font-family: "laser-font";
	content: "\e80e";
}

.unit {
	font-size: 90%;
	padding-left: 0.1em;
}

.percent:after {
	content: "%";
	padding-right: 0.5em;
}

.upload {
	position: relative;
}

.upload input {
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
	position: absolute;
}
.upload ~ input[type="submit"] {
	display: none;
}

.overlay {
	background: gray;
	height: 100%;
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0.75;
}


.uploading > img.uploading {
	display: inline-block;
}

.workspace {
	padding: 1em;
	width: calc(100% - 7em);
	height: 90vh;
}

svg #canvasRect {
	fill: #CCC;
//	stroke: #CCC;
}

svg #workspaceRect {
	fill: white;
}

.itemsList {
}

.itemsList table {
	width: 100%;
	margin: auto;
}

.itemsList td {
//	border: 1px solid black;
	padding: 0.75em;
	width: 2em;
}

.itemsList td > label {
	width: 100%;
	display: inline-block;;
}

.itemsList td > button {
	margin: 0 0.5em;
}

.itemsList .name {
	width: auto;
	font-size: 110%;
	font-weight: bold;
	cursor: pointer;
}

.itemsList footer .button {
	margin: 0 1em 0.5em 1em;
}

.workspaceControl {
	padding: 1em;
	padding-left: 0;
	width: 7em;
}

.workspaceControl > *:not(:first-child) {
	margin-top: 4em;
}

.small {
	font-size: 75% !important;
}

.x-small {
	font-size: 50% !important;
}

.large {
	font-size: 125% !important;
}

.x-large {
	font-size: 150% !important;
}

.xx-large {
	font-size: 200% !important;
}

.inline {
	display: inline-block;
	width: auto;
}

.moveControl {
	margin: 0;
	padding: 0;
	width: calc(100% - 13em);
	height: 90vh;
}

.moveSidePanel {
	margin: 0 auto;
	width: 13em;
}

.moveSidePanel legend {
	margin: -0.5em auto;
}

.moveSidePanel button {
	width: 7em;
}

.positionDisplay {
	margin: 0.5em;
	text-align: center;
}

.positionDisplay > * {
	margin: 0.5em auto;
}

.laserControl {
}

.laserControl > * {
	margin: 0.5em auto;
}

table.move {
	margin: 1vh auto;
	font-size: 120%;
	text-align: center;
	
}

table.move  tr, table.move td {
	padding: 0;
	margin: 0;
	background: none;
}

table.move td {
	width: 12.6vh;
	height: 12.6vh;
}

button.move, .button.move  {
	margin: 0;
	padding: 0;
	width: 95%;
	height: 95%;
}

.indicator {
    height: 95%;
    width: 95%;
    display: block;
    margin: auto;
}

.indicator > button, .indicator > .button  {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    padding: 0;
    margin: 0;
    color: inherit;
    background: #e2e2e2;
}

.indicator > input:checked ~ button, .indicator > input:checked ~ .button  {
	background: white;
    color: mediumvioletred;
    text-shadow: 0 0 2em red;
	box-shadow: .05em .05em .3em rgba(0, 0, 0, 0.5) inset
}

.toUp {
	transform: rotate(-90deg);
	display: inline-block;
}

.toDown {
	transform: rotate(90deg);
	display: inline-block;
}

.toLeft {
	transform: rotate(180deg);
	display: inline-block;
}

.toRight {
	display: inline-block;
}

.taskList {
    position: relative;
	margin: 0;
	padding: 1em 0 0 0;
	width: calc(100% - 8em);
	text-align: left;
}

.taskItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.taskItem div {
	display: inline-block;
	width: auto;
	margin: 0.5em;
}

.taskItem .index {
    width: 2em;
	text-align: right;
}

.taskItem .index:after {
	content: ".";
	padding-right: 0.5em;
}

.taskList .progress {
    flex-grow: 10;
    border-radius: 0.25em;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.25) inset;
    padding: 0 1em;
    height: 2.5em;
    display: block;
    position: relative;
    z-index: 0;
}

.taskList .progress > div {
    background-color: #0074d9;
    border-radius: inherit;
//    box-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.75) inset, -0.1em -0.1em 0.2em rgba(0, 0, 0, 0.75) inset;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: -1;
}

.taskList .name {
	font-size: 110%;
	font-weight: bold;
	text-shadow: .1em .1em .05em white;
	cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.taskItem .status {
    width: 3.5em;
    text-align: center;
    text-shadow: .1em .1em .05em white;
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.taskSidePanel {
	margin: 1em auto;
	width: 8em;
}

.taskSidePanel > button {
    margin: 3em auto;
    padding: 0.5em;
    width: 3em;
    height: 11em;
    font-size: 125%;
}

.settings {
	font-size: 105%;
}

.settings section {
	margin: 0.5em;
}

.settings .name {
	margin: 0.5em 1em;
	width: 95%;
	font-size: 110%;
	font-weight: bold;
}
.settings .toggleSwitch {
	margin: 0 1em;
}

.settings .toggleSwitch *[class*="icon-toggle-"] {
    vertical-align: middle;
    font-size: 150%;
}

.settings .abs {
}

.settings .rel {
	font-style: italic;
}

.settings .colorSelect {
	margin-right: 1em;
	margin-top: 0.6em;
	display: inline-block;
}

.settings td label {
	margin-right: 1.5em;
}

.settings td button {
	margin-right: 1.25em;
	font-size: 125%;
	padding: 0.5em 0.8em;
}

.settings footer {
	margin: 0.3em 1em !important;
}

.tabs > * {
	background: #FAFAFA;
}

.tabs > .title {
	font-size: 125%;
	margin-bottom: -1px;
}

.tabs.side-right > .title {
	padding: 1em;
	margin-left: -2px;
}

.wait {
	width: auto !important;
	font-size: 200% !important;
	text-align: center !important;
	background: transparent !important;
	color: whitesmoke !important;
}

.center {
	text-align: center;
	vertical-align: middle;
	align-self: center;
}

.spacing {
	margin: 0 1em;
}

#dialog_fullscreen ~ article {
	min-width: 60%;
	background: #EEE;
}

#menu {
	margin: 0;
	padding: 0.5em;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	width: auto;
}

