div {
	width: 100%
}

fieldset {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3em;
	margin-bottom: 1em;
	padding: 0.5em 2em;
}

legend {
	font-size: 110%;
	margin-left: -0.5em;
	padding: 0 0.5em;
	text-align: left;
}

body {
	max-width: 1024px;
	margin: auto;
	padding: 1em;
	color: #444;
}

.flex  {
    margin-left: initial;
}

.flex > * {
    padding: 0;
}

[disabled], .disabled {
//	box-shadow: 0 0 0 9999px rgba(200, 200, 200, 0.5) inset;
	background: #ccc !important;
	color: #888;
}

.checkable {
	margin: 0 !important;
}

input {
	margin: 0.2em;
}

input[type="number"] {
	width: 5em;
	text-align: right;
}

.card .dangerous, .modal .overlay ~ * .dangerous {
	float: inherit;
}

form > * {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

form table {
	border-collapse: separate;
	border-spacing: 0 0.6em;
}

form tr {
	background: none !important;
}

form .name:after {
	content: ":";
	padding-right: 0.5em;
}

@media print {
	button, .state .label {
		color: black;
		border-color: gray !important;
		border: medium solid;
	}

	[disabled], .label.disabled {
		color: lightgray;
		border: thin solid;
	}
}

.message {
	background: #e0e0e0;
	padding: .3em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #505050;
	border-radius: .2em;
	box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.75) inset, .3em .3em .2em rgba(100, 100, 100, 0.4);
}

.message.prime {
  background: #0074d9;
  color: #1054a9;
}
.message.success {
  background: #2ecc40;
  color: #108c20;
}
.message.warning {
  background: #ff851b;
  color: #cf651b;
}
.message.error {
  background: #ff4136;
  color: #af1116;
}
.message > header {
	font-style: bold;
	padding: .1em .5em;
	border: 0;
}
.message > header > .close {
	top: 0;
	right: 0;
}
.message section {
	font-size: 80%;
	padding: .1em .8em;
}

.message-stack {
	position: fixed;
	top: 0;
	border-radius: 0.3em;
	padding: 0.1em 0.6em;
	z-index: 99;
}
@media all and (max-width: 700px) {
	.message-stack {
		position: static;
	}
}
@media print {
	.message-stack {
		position: static;
	}
}

.timeout {
	display: inline-block;
	vertical-align: 0.3em;
	width: 5em;
	height: 0.25em;
	background: rgba(100, 100, 100, 0.1);
	animation: slideLeft linear both;
}

@keyframes slideLeft {
	0% {width: 5em; content: "\025CB";}
	100% {width: 0; content: "\025CF";}
}

.fadeIn {
	animation: fadeIn 1s;
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.fadeOut {
	opacity: 0;
	transition: opacity 0.4s;
}

.slideUp {
	overflow: hidden;
	animation: slideUp 0.3s linear both;
}
@keyframes slideUp {
	0% {max-height: 80vh;}
	100% {max-height: 0; margin-top: 0; margin-bottom: 0;}
}

.slideDown {
	overflow: hidden;
	animation: slideDown 0.3s linear both;
}
@keyframes slideDown {
	0% {max-height: 0; margin-top: 0; margin-bottom: 0;}
	99% {max-height: 80vh;}
	100% {max-height: initial;}
}

.foldable {
}

@media screen {
	.foldable > * {
		overflow: hidden;
		animation: slideDown 0.4s ease-in both;
	}
	.foldable > .header label::before {
		content: "\025BC \00A0";
		font-size: 80%;
	}
	.foldable  > input:not(:checked) ~ .header label::before {
		content: "\025BA \00A0";
	}
	.foldable  > input:not(:checked) ~ .header label::after {
		content: "\00A0[...]";
	}
	.foldable  > input:not(:checked) ~ :not(.header) {
		overflow: hidden;
		animation: slideUp 0.4s ease-out both;
	}
}

.progress-bar {
	background-color: rgba(200, 190, 200, 0.2);
	border-radius: 0.5em;
	box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.25) inset;
	display: block;
    padding: 0;
    margin: 1em auto;
	height: 1.8em;
}

.progress-bar > div {
	background-color: #0074d9;
	border-radius: inherit;
	box-shadow: .05em .1em .5em rgba(255, 255, 255, 0.75) inset, -.05em -.1em .5em .1em rgba(0, 0, 0, 0.75) inset;
	text-align: center;
    text-shadow: .1em .1em .1em black;
	color: white;
	height: 100%;
	padding-top: 0.1em;
}

.left {
	left: 0;
    text-align: left;
	align-self: left;
}

.right {
	right: 0;
    text-align: right;
	align-self: right;
}

.panel {
	padding-bottom: 1.5em;
	text-align: center;
}

button, .button {
	margin-right: 1em;
	padding: 0.6em 1em;
	min-width: 2.5em;
	transition: none;
	box-shadow: .1em .1em .2em rgba(255, 255, 255, 0.5) inset, -.1em -.1em .2em rgba(0, 0, 0, 0.5) inset;
}

button.flat, .button.flat {
	box-shadow: none;
	border: .1em rgba(100, 100, 100, 0.2) solid;
}

button.inline, .button.inline {
	background: rgba(100, 100, 100, 0.1);
	color: inherit;
	padding: 0.2em;
	margin: 0;
}

button:focus {
	box-shadow: .1em .1em .2em rgba(255, 255, 255, 0.5) inset, -.1em -.1em .2em rgba(0, 0, 0, 0.5) inset;
}


button.active, .button.active, button:active, .button:active {
	box-shadow: -.1em -.1em .1em rgba(255, 255, 255, 0.5) inset, .1em .1em .3em rgba(0, 0, 0, 0.5) inset, inset 0 0 0 99em rgba(20,20,20,0.1);
}

:checked+.group {
	box-shadow: -.1em -.1em .1em rgba(255, 255, 255, 0.5) inset, .1em .1em .3em rgba(0, 0, 0, 0.5) inset;
	background: #2ecc40;
}

.powerButton {
    background: #85144b;
}

.header .title {
	background: url("images/LaserLine.png") no-repeat;
    background-size: 100% 0.25em;
    background-position: 5.5em 3.2em;
}
.header .logo {
	height: 5em;
    margin: 0 1em;
}

.header .title h1 {
    display: inline-block;
    margin: -0.3em 0;
    color: #85144b;
	text-align: center;
	text-shadow: 2px 2px 3px darkgray;
	vertical-align: top;
}


.status > * {
	margin: 0 0.4em;
	font-size: 110%;
	color: #AAA;
}

.status .ok {
	color: black;
}

.status .warn {
	color: darkorange;
}

.status .error {
	color: #D00 !important;
}

.status .error:before {
	font-family: "laser-font";
	content: "\e82c";
}

.unit:after {
	font-size: 90%;
    padding-left: 0.1em;
}
.unit.percent:after {
	content: "%";
}
.unit.temp:after {
	content: "°C";
}
.unit.pos:after {
	content: "mm";
}
.unit.speed:after {
	content: "mm/s";
}
.unit.flowrate:after {
	content: "l/min";
}

.canvas {
	margin: 0.5em auto;
	max-width: 512px;
	max-height: 512px;
	position: relative;
}

.upload {
    position: relative;
}

.upload input {
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.upload ~ input[type="submit"] {
    display: none;
}

.overlay {
    background: gray;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.75;
}


.uploading > img.uploading {
	display: inline-block;
}

.workspace {
    border: 1px solid gray;
    padding: 0;
	margin: auto;
    background: white;
	text-align: left;
}

.small {
	font-size: 75%;
}

.large {
	font-size: 125%;
}

.inline {
	display: inline-block;
	width: auto;
}


table.move {
	font-size: 125%;
	text-align: center;
	margin: auto;
}

table.move  tr, td {
	padding: 2px;
	margin: 0;
	background: none;
}


.anchorPos  {
	margin: 0;
	padding: 0;
    width: 3em;
    height: 3em;
	display: table-cell;
	position: relative;
	background: #EEE;
	color: #444;
}

:checked + .anchorPos {
	box-shadow: -.05em -.05em .2em rgba(255, 255, 255, 0.5) inset, .05em .05em .2em rgba(0, 0, 0, 0.5) inset;
	color: #F11 !important;
}

.anchorPos > div {
    width: 40%;
    height: 40%;
    border: solid 3px;
    margin: 30%;
}

.anchorPos > .upperLeft {
    border-bottom: 0px;
    border-right: 0px;
}

.anchorPos > .upperRight {
    border-bottom: 0px;
    border-left: 0px;
}

.anchorPos > .lowerLeft {
    border-top: 0px;
    border-right: 0px;
}

.anchorPos > .lowerRight {
    border-top: 0px;
    border-left: 0px;
}

button.move {
	margin: 1px;
	padding: 0;
	width: 2.6em;
	height: 2.6em;
	word-spacing: -0.7em;
	line-height: 0.5em;
}


.task {
	font-size: 125%;
}

.task td  {
	padding: 0.2em
}
.task td:first-child {
	padding-left: 1em;
}
.task td:last-child {
	padding-right: 1em;
}

.task button, .task .button  {
	padding: 0.5em;
	margin: 0;
	min-width: 0;
	background: none;
	color: inherit;
	border: none;
}

.colorSelect {
	margin-right: 1em;
}

.typeSelect {
	margin-right: 1.5em;
}

.tabs > * {
	background: #FAFAFA;
}

.tabs > .title {
	font-size: 125%;
	margin-bottom: -1px;
}

.tabs.side-right > .title {
	padding: 1em;
	margin-left: -1px;
}



.center {
	text-align: center;
	vertical-align: middle;
	align-self: center;
}

.spacing {
	margin: 0 1em;
}
