.tabs {
	display: flex;
	flex-flow: row wrap;
}

.tabs > .title {
	cursor: pointer;
	background: lightgray;
	margin: 0.5em 0.5em 0 0;
	padding: 0.3em 1em;
	border: 1px solid #888;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border-bottom: 0;
	display: inline-block;
}
.tabs > input[type=radio]:checked + .title {
	background: whitesmoke;
	margin-bottom: -1px;
}

.tabs > input[type=radio]:checked + .title + .content {
	display: inherit;
}

.tabs > .content {
	background: whitesmoke;
	width: 100%;
	padding: 0.5em;
	margin: 0;
	border: 1px solid #888;
}


@media screen {
	.tabs > .title {
		order: -1;
	}
	.tabs > .content {
		display: none;
	}
}
