.tabs {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	overflow: inherit;
}

.tabs > * {
	border: 1px solid #888;
}

.tabs > .title {
	box-shadow: 0 0 0 9999px rgba(10, 10, 10, 0.1) inset;
	cursor: pointer;
	margin: 0.5em 0.5em 0 0;
	padding: 0.4em 1em;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border-bottom-style: none;
	display: inline-block;
	height: fit-content;
	width: fit-content;
}

.tabs > input[type=radio]:checked + .title {
	box-shadow: none;
	z-index: 1;	
}

.tabs > input[type=radio]:checked + .title + .content {
	display: inline-block;
}

.tabs > .content {
	margin: 0;
	padding: 0;
	position: relative;	
	width: 90%;
	height: auto;
	flex: 1 99%;	
}

.tabs > .content > * {
//	margin: 0;
}

.tabs.side-right {
	flex-flow: column wrap-reverse;
	height: 92%;
	align-content: center;
}

.tabs.side-right > .title {
//	padding: 1em;
	margin: 0 0 0.5em 0;
	border-radius: 0;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-bottom-style: solid;
	border-left-style: none;
}


@media screen {
	.tabs > .title {
		order: -1;
	}
	.tabs > .content {
		display: none;
	}
}
